body {
  position: relative;
  box-sizing: border-box;
 }
.colorContainer {
  width: 150px;
  height: 60px;
  position: absolute;
  display: block;
  left: calc(50% - 50px);
  top: 200px;
}
.colorInput {
  width: 100px;
  height: 25px;
  font-size: 20px;
  padding: 0;
  margin-bottom: 10px;
  border: 1px black solid;
  text-align: center;
}
.colorP {
  width: 100px;
  height: 25px;
  font-size: 16px;
  border: 1px black solid;
  margin: 0;
  padding: 0;
  text-align: center;
  }